
:root {
  --primary-color: #f6f7f1;
  --secondary-color: #349fa4;
  --tertiary-color : whitesmoke;
  --fourthary-color : #c96135;
  --highlight-color : #5c2d19;
}

/* Full Page Settings*/
.full-screen-flex-container {
  display: flex;
}

/* Map Settings */

.map-display {

}

/* Toolbar Settings*/
.toolbar {
  background: var(--primary-color);
  border-color: var(--secondary-color);
  flex-grow: 1;
  border-style: solid;
  border-width: 7px;
  border-radius: 3px;
}

.toolbar-content-container {
  display: flex;
  flex-direction: column;
}

/* Try to find a dynamic way for top/bottom to take up half of the div,
or have a way to resize them. 
Ex. You only want one content box, set size of top to 100%, bottom to 0% or something */
.toolbar-content-top {
  border: 2px rgba(133, 148, 140, 0.767);
  border-style: none none solid none;
  max-height: 450px;
  overflow-y: scroll;
  border-width: 10px;
}

.toolbar-content-bottom {
  padding-top: 5px;
  overflow-y: scroll;
  max-height: 400px;
}

.toolbar-content-full {
  max-height: 850px;
  overflow-y: scroll;
}

/* Hide scrollbar in Chrome */
.toolbar-content-full::-webkit-scrollbar, .toolbar-content-bottom::-webkit-scrollbar, .toolbar-content-top::-webkit-scrollbar, .SelectionMenuSection::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.toolbar-content-full, .toolbar-content-bottom, .toolbar-content-top, .SelectionMenuSection {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}


.title-text {
  font-weight: bold;
}

.ToolbarContent {
  padding: 5px 20px 0px 20px
}

.confirmButton {
  background-color: darkgreen;
}

.input-field{
  float: none !important;
}


.stat-window {
  background-color: var(--tertiary-color);
}


.tooltip {
  position: absolute;
  margin: 8px;
  padding: 4px;
  background: rgba(0, 0, 0, 0.8);
  color: var(--tertiary-color);
  max-width: 300px;
  font-size: 10px;
  z-index: 999;
  pointer-events: none;
}

.confirmationButton {
  
}

.constraint-protection-collapsible {
  background-color : var(--tertiary-color);
}

/* For incumbent labels */
.collapsible-body > .row > label {
  color: black !important;
}

/* For aligning an icon with text, usage: <div className="iconAndLabel"><PersonIcon/><span> {name}</span></div> */
.iconAndLabel {
  display : flex;
  align-items: center;
  flex-wrap: wrap;
}

.iconAndLabel > span {
  padding-left: 10px;
}

/* For aligning an icon with text, usage: <div className="iconAndLabel"><PersonIcon/><span> {name}</span></div> */
.labelAndIcon {
  display : flex;
  align-items: center;
  flex-wrap: wrap;
}

.labelAndIcon > span {
  padding-right: 5px;
}
  
.currentDistrictingNameSidebar {
  background-color: rgba(35, 55, 75, 0.9);
  color: var(--tertiary-color);
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.viewAndFilterDistrictingsOption {
  background-color: var(--fourthary-color);
  color: var(--tertiary-color);
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 50px;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}



.returnToStateSelectionOption {
  background-color: var(--fourthary-color);
  color: var(--tertiary-color);
  padding: 6px 12px;
  font: 15px/24px monospace;
  z-index: 1;
  position: absolute;
  top: 850px;
  left: 0;
  margin: 12px;
  border-radius: 4px;
}

.viewAndFilterDistrictingsOption:hover, .returnToStateSelectionOption:hover, .currentDistrictingNameSidebar:hover {
  cursor: pointer;
}

.SelectionMenuContainer {
  display: grid;
  grid-template-columns: 420px 1080px 420px;
}

.SelectionMenuSection {
  height: 937px;
  max-height: 1000px;
  background: var(--primary-color);
  border-color: var(--secondary-color);
  flex-grow: 1;
  border-style: solid;
  border-width: 5px;
  border-radius: .5px;
  display: flex;
  flex-direction: column;
  padding: 5px;
  overflow-y: scroll;
}

.CompareSection {
  flex-grow: 1;
}


.ListingSection {


}

.FilterSection {

  
}

/* Whenever you want to center text */
.center-title {
  text-align: center;
  padding-bottom: 5px;
}


.DistrictingResultsHeader {
  /* Override row property */
  margin-left: 0 !important;
}


.ReturnToMapBtn {
  height: 35x;
  background-color: var(--fourthary-color);
  display: flex;
}

.MuiPaper-root {
  background : none !important;
}


.filterSectionItem {
  padding: 5px;
}

.DistrictingResultsHeader {
  display: flex;
  justify-content: space-between;
}

.DistrictingResultsHeader > h5 {
  font-weight: bold;
  padding-left: 10px;
  margin: 2.1rem 0 0 0 !important
}


.DistrictingHolderBox {
  text-align: center;
  padding-left: 15px;
  padding-right: 15px;
  font-weight: bold;
  font-size: small;
}

.DistrictingComparisonItem {
  
}

.redBrownBtn {
  background-color: var(--fourthary-color);
}

.btn:hover {
  background-color: var(--highlight-color) !important;
}

button:focus {
  background: none !important;
}


.constraintAndCheckbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.constraintAndCheckbox > h6 {
  font-size: 15px;
}


.centerWithinMe{
  text-align: center;
}

.padBelowMe {
  padding-bottom: 5px;
}

.padAboveMe {
  position: absolute;
  bottom: 20px;
  padding-left: 10px;
}


.districtingInfoSection {
  align-content: center;
}

.demographicsContainer {
  display: flex;
  padding: 45px;
}


.infoIcon :hover {
  opacity: .7;
}


.compareOptionsDiv {
  padding: 10px;
}

.compareOptionsButton {
  margin-left: 10px;
  margin-right: 10px;
}

.hideMe {
  display: none;
}

.comparedStatsDiv {
  display: flex;
  padding-top: 0px;
}

.DistrictingAStats{
  width: 210px
}

.DistrictingBStats {
  width: 210px
}

.redCompare {
  color: rgb(201, 80, 80);
}

.greenCompare {
  color: rgb(79, 163, 79)
}
